
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Namhoang Page by TEMPLATED</title>
<link href="StyleSheet.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="wrapper-bgbtm">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Nam Hoang Page ^^ </a></h1>
				<p>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></p>
			</div>
		</div>
		<!-- end #header -->
		<div id="menu">
			<ul>
			    <li><a href="/home">Homepage</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/photo">Photos</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/link">Links</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div class="post">
							<h2 class="title"><a href="/arifureta">Arifureta Shokugyou de Sekai Saikyou</a></h2>
							<p class="meta">Posted by <a href="#">Namhoang</a> on July 3, 2017
								&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
							<div class="entry">
								<p><img src="images/arifureta-picture.png" width="143" height="200" alt="" class="alignleft border" />Một nhân vật được xem là vô dụng như Nagumo Hajime sẽ không thể ngờ rằng có một ngày cùng cả lớp được triệu hồi sang một thế giới khác, mang trong mình "Thiên chức" nhất định nhằm giải cứu Loài người thoát khỏi họa diệt vong. Điều gì đang chờ đợi cậu ở thế giới mới ấy? Liệu Hajime có thể lột xác trở thành con người mới được không?</p>
							</div>
						</div>
						<p>Gồm 8 Arc chính, Arc After Story và Arc Extra Edition (Bangai-hen), với tổng cộng 179+ chương tất cả (Chương 179 - chương Kết thúc của phần Main Story đã được upload vào ngày 31/10/2015). Chương 1&nbsp;: Mở đầu - Chương 179&nbsp;: Kết thúc (Theo cách chia của Sonako thì bắt đầu chương 1 là chương Mở đầu, và chia theo số Vol thì khoảng 10 chương = 1 Vol). Sau chương 179 sẽ có các phần Side Story về các nhân vật của tác giả sau khi mọi người đã trở về được Trái Đất.</p>
						<p><b>+ Main Story (084/179):</b></p>
						<p>Arc 1: Từ chương 1 - chương 27.</p>
						<p>Arc 2: Từ chương 28 - chương 50.</p>
						<p>Arc 3: Từ chương 51 - chương 82.</p>
						<p>Arc 4: Từ chương 83 - chương 111.</p>
						<p>Arc 6: Từ chương 122 - chương 136.</p>
						<p>Arc 7: Từ chương 137 - chương 153.</p>
						<p>Arc Cuối cùng: Từ chương 154 - chương 179.</p>
						<h4><span class="mw-headline" id="T.E1.BA.ADp_1_.28Ch.C6.B0.C6.A1ng_001_-_011.29_.28To.C3.A0n_v.C4.83n.29"><b>Tập 1 (Chương 001 - 011)</b> (<a href="http://sonako.wikia.com/wiki/Arifureta_Shokugyou_de_Sekai_Saikyou_T%E1%BA%ADp_1" title="Arifureta Shokugyou de Sekai Saikyou Tập 1" target="_blank">Toàn văn</a>)</span><span class="editsection"><a href="http://sonako.wikia.com/wiki/Arifureta_Shokugyou_de_Sekai_Saikyou?action=edit&amp;section=9&amp;useeditor=source" title="Edit Tập 1 (Chương 001 - 011) (Toàn văn) section" target="_blank"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h4>
						<ul>
						    <li><a href="http://sonako.wikia.com/wiki/Arifureta_T%E1%BA%ADp_1_M%E1%BB%9F_%C4%91%E1%BA%A7u" title="Arifureta Tập 1 Mở đầu" target="_blank">Mở đầu</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_1" title="" target="_blank">Chương 1: Được triệu hồi đến thế giới khác</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_2" title="" target="_blank">Chương 2: <span style="white-space: nowrap; position: relative;"><span style="position: absolute; font-size: .8em; top: -14px; left: 50%; white-space: nowrap; letter-spacing: normal; color: inherit; font-weight: inherit; font-style: inherit;"><span style="position: relative; left: -50%;">Bảng Trạng thái</span></span><span style="display: inline-block; color: inherit; letter-spacing: normal; font-weight: inherit;">Status Plate</span></span></a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_3" title="" target="_blank">Chương 3: Bắt nạt kẻ yếu nhất</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_4" title="Arifureta Tập 1 Chương 4" target="_blank">Chương 4: Trò chuyện dưới ánh trăng</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_5" title="Arifureta Tập 1 Chương 5" target="_blank">Chương 5: Bẫy</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_6" title="" target="_blank">Chương 6: Behemoth</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_7" title="" target="_blank">Chương 7: Tâm địa thấp hèn</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_8" title="Arifureta Tập 1 Chương 8" target="_blank">Chương 8: Vực thẳm</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_9" title="Arifureta Tập 1 Chương 9" target="_blank">Chương 9: Lột xác</a></li>
						    <li><a href="/wiki/Arifureta_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_10" title="Arifureta Tập 1 Chương 10" target="_blank">Chương 10: Kiến tạo vũ khí</a></li>
						 </ul>
					</div>
					
					<!-- end #content -->
					<div id="sidebar">
						<div id="search">
							<h2>Search</h2>
							<form method="get" action="/search">
								<fieldset>
									<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
									<input type="submit" id="search-submit" value="GO" />
								</fieldset>
							</form>
						</div>
						<ul>
							<li>
								<h2>Nhóm dịch</h2>
								<p>SEIKOU SETSUDAN</p>
								<ul>
									<li>Tác giả: Shirakome Ryou (Chuuni Suki)</li>
									<li>Họa sĩ: Takayaki</li>
									<li>Tình trạng: Đang tiến hành</li>
									<li>Thể loại: Action, Adventure, Comedy, Drama, Harem, Romance</li>
									<li>Tên khác: ありふれた職業で世界最強</li>
									<li>Lượt xem : 0</li>
								</ul>
							</li>
							
						</ul>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
		<div id="footer">
			<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		</div>
		<!-- end #footer -->
	</div>
</div>
</body>
</html>
