body {
    font-family: "Cairo", Times, serif;
  }
  
  .app-navbar {
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
  }
  
  .navbar-inverse {
      background-color: #10BBB3;
  }
  .navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
      border-radius: 0;
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar {
      position: relative;
      min-height: 50px;
      margin-bottom: 0;
      border: 1px solid transparent;
  }
  